*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background-image: url(images/fondoTanks.jpg);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#myCanvas {
  background-color: red;
  border: 3px solid rgb(7, 7, 7);
  animation: neon 2s linear infinite;
}


#contador{
  background-color: rgb(24, 23, 23);
  display: flex;
}

#contador h1{
  color: rgb(204, 0, 0);
  margin: 0 50px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.popup-content {
  background: #fff;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  animation: neon 2s linear infinite;
}
@keyframes neon {
  0% {
    box-shadow: 0 0 5px #8A2BE2, 0 0 20px #8A2BE2, 0 0 30px #8A2BE2;
  }
  50% {
    box-shadow: 0 0 10px #8A2BE2, 0 0 40px #1E90FF, 0 0 60px #1E90FF;
  }
  100% {
    box-shadow: 0 0 5px #8A2BE2, 0 0 20px #8A2BE2, 0 0 30px #8A2BE2;
  }
}



@keyframes neon {
  0% {
    box-shadow: 0 0 5px #8A2BE2, 0 0 20px #8A2BE2, 0 0 30px #8A2BE2;
  }
  50% {
    box-shadow: 0 0 10px #8A2BE2, 0 0 40px #1E90FF, 0 0 60px #1E90FF;
  }
  100% {
    box-shadow: 0 0 5px #8A2BE2, 0 0 20px #8A2BE2, 0 0 30px #8A2BE2;
  }
}



