body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/neon-tank.thumb_.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    background-color: #080808; 
}

.contenedor {
    text-align: center;
    background-color: rgba(148, 0, 211, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 400px;
    height: 300px;
    border: 15px solid transparent; /* Añadimos un borde transparente */
    border-image: linear-gradient(45deg, #00e0ff, #9400d3) 1; /* Aplicamos el borde animado estilo "neón" */
    border-image-slice: 1;
    animation: neon-border 1.5s infinite alternate; /* Agregamos una animación al borde */
}

@keyframes neon-border {
    0% {
        border-image-source: linear-gradient(45deg, #00e0ff, #9400d3);
    }
    100% {
        border-image-source: linear-gradient(45deg, #9400d3, #00e0ff);
    }
}

.titulo {
    font-size: 36px;
    color: #00e0ff; /* Cambiamos el color del título a azul claro */
    margin: 10px 0;
}

.instrucciones {
    font-size: 18px;
    color: #00e0ff; /* Texto blanco para las instrucciones */
    margin: 20px 0;
}
/* Agrega estas reglas para la animación de color */
@keyframes changeColor {
    0% {
        background-color: #9400d3; /* Inicio de la animación: color morado */
    }
    50% {
        background-color: #00e0ff; /* Punto intermedio: transición al color azul claro */
    }
    100% {
        background-color: #9400d3; /* Fin de la animación: regresa al color morado */
    }
}

.boton-iniciar {
    /* Tu estilo existente para el botón */
    color: #fff;
    font-size: 24px;
    border: none;
    padding: 20px 20px;
    margin: 40px 0;
    cursor: crosshair; 
    border-radius: 5px;

    transition: all .3s ease; 
    animation: changeColor 6s linear infinite; 
}
.laser {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 6px; /* Ancho del rayo láser */
    height: 8%; /* Altura del rayo láser (desde abajo hacia arriba) */
    background: linear-gradient(to bottom, rgba(0, 224, 255, 0.6), transparent); /* Color y opacidad del láser */
    animation: disparar 4s linear forwards;
}

@keyframes disparar {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 100%;
        
    }
}
